ADF Pipeline/E_Commerce_ADF_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_databricks":{"type":"string"},"AzureSqlDatabase1":{"type":"string"},"azure sql dataset":{"type":"string"},"LS_Databricks12":{"type":"string"},"LS_ADLS":{"type":"string"},"b_t_a":{"type":"string"},"AzureDatabricksDeltaLake2":{"type":"string"},"AzureDatabricksDeltaLake1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/E_Commerce_ADF_Pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Bronze_Layer","description":"Load raw data into Bronze layer","type":"DatabricksNotebook","dependsOn":[{"activity":"Database_To_ADLS","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/sakshidisale2020@gmail.com/Bronze_layer"},"linkedServiceName":{"referenceName":"[parameters('ls_databricks')]","type":"LinkedServiceReference"}},{"name":"Silver_Layer","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze_Layer","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/sakshidisale2020@gmail.com/Silver_layer_transformed_data"},"linkedServiceName":{"referenceName":"[parameters('ls_databricks')]","type":"LinkedServiceReference"}},{"name":"Gold_Layer","type":"DatabricksNotebook","dependsOn":[{"activity":"Silver_Layer","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/sakshidisale2020@gmail.com/Gold_layer"},"linkedServiceName":{"referenceName":"[parameters('ls_databricks')]","type":"LinkedServiceReference"}},{"name":"Database_To_ADLS","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"customerdata","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"customerdataset1","type":"DatasetReference","parameters":{}}]},{"name":"Gold_To_ADLS","type":"Copy","dependsOn":[{"activity":"Gold_Layer","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureDatabricksDeltaLakeSource","query":{"value":"SELECT * FROM e_commerce_catalog.gold_schema.gold_table","type":"Expression"},"exportSettings":{"type":"AzureDatabricksDeltaLakeExportCommand"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"DS_Gold_Databricks","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"DS_ADLS_Gold","type":"DatasetReference","parameters":{}}]},{"name":"Bronze_To_ADLS_Customer_table","type":"Copy","dependsOn":[{"activity":"Bronze_Layer","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureDatabricksDeltaLakeSource","query":{"value":"SELECT * FROM e_commerce_catalog.bronze_schema.customers_table","type":"Expression"},"exportSettings":{"type":"AzureDatabricksDeltaLakeExportCommand"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"bronze_to_adls","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet1","type":"DatasetReference","parameters":{}}]},{"name":"Silver_To_ADLS","type":"Copy","dependsOn":[{"activity":"Silver_Layer","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureDatabricksDeltaLakeSource","query":{"value":"SELECT * FROM e_commerce_catalog.silver_schema.orders_cleaned_table","type":"Expression"},"exportSettings":{"type":"AzureDatabricksDeltaLakeExportCommand"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"silvertoadls","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet4","type":"DatasetReference","parameters":{}}]},{"name":"Bronze_ADLS_Order_Table","type":"Copy","dependsOn":[{"activity":"Bronze_Layer","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureDatabricksDeltaLakeSource","query":{"value":"SELECT * FROM e_commerce_catalog.bronze_schema.orders_table","type":"Expression"},"exportSettings":{"type":"AzureDatabricksDeltaLakeExportCommand"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"b_t_a_cust","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet3","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2026-04-03T14:55:06Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/customerdata')]","[concat(variables('factoryId'), '/datasets/customerdataset1')]","[concat(variables('factoryId'), '/datasets/DS_Gold_Databricks')]","[concat(variables('factoryId'), '/datasets/DS_ADLS_Gold')]","[concat(variables('factoryId'), '/datasets/bronze_to_adls')]","[concat(variables('factoryId'), '/datasets/Parquet1')]","[concat(variables('factoryId'), '/datasets/silvertoadls')]","[concat(variables('factoryId'), '/datasets/Parquet4')]","[concat(variables('factoryId'), '/datasets/b_t_a_cust')]","[concat(variables('factoryId'), '/datasets/Parquet3')]"]},{"name":"[concat(parameters('factoryName'), '/customerdata')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"customer_id","type":"varchar"},{"name":"customer_name","type":"varchar"},{"name":"city","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"customers"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/customerdataset1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('azure sql dataset')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"container1"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_Gold_Databricks')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Databricks12')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureDatabricksDeltaLakeDataset","typeProperties":{"database":"gold_schema","table":"gold_table"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_ADLS_Gold')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"gold_data","fileSystem":"gold"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/bronze_to_adls')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('b_t_a')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureDatabricksDeltaLakeDataset","typeProperties":{"database":"broze_schema","table":"customers_table"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/silvertoadls')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDatabricksDeltaLake2')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureDatabricksDeltaLakeDataset","typeProperties":{"database":"silver_schema","table":"orders_cleaned_table"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet4')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"silver"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/b_t_a_cust')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDatabricksDeltaLake1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureDatabricksDeltaLakeDataset","typeProperties":{"database":"bronze_schema","table":"orders_table"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet3')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[{"name":"customer_id","type":"UTF8"},{"name":"customer_name","type":"UTF8"},{"name":"city","type":"UTF8"}]},"dependsOn":[]}]}